/* .navi{
    background-color: black;
    border-radius: 15px;
    padding: 2px;
    overflow: auto;
     }
     .navi li{
        color: aliceblue;
        display: inline;
     padding: 5px 15px;
     text-align: right;
     float: left;
    } */
